body{
    background-color: rgb(54, 54, 54);
    background-repeat: no-repeat;
    background-size:auto;
    background-attachment: fixed;
 
}
video{
    border: 51px;
    border-radius: 15px;
    border-color: rgb(60, 209, 209);
    width: auto;
    height:auto;
}

#groupphoto{
    background-color: aliceblue;
    border-radius: 15px;
    height: auto;
    width: 100%;
    border-top: 5px;
    border-color: aqua;
}

#dhssvideo{
    border : 1px; 
    display: block ;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: rgb(117, 121, 118);
}

.topicons{
    
    display: block;
    float: right;
    margin-left: 50px;
    margin-right: 50px;
    block-size: 100%;
    
}


               
